.Notification {
  width: calc(100% - 20px);
  color: #f9fafb;
  background-color: #10151e;
  border: 1px solid #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 10px 10px;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;

  @media (min-width: 600px) {
    width: 90vw;
    max-width: 800px;
  }
}

.Header {
  display: flex;
  font-size: 15px;
  font-weight: 500;
}

.Icon {
  height: 22px;
  fill: #f9fafb;
  margin: -4px 7px 0 0;
}

.ReloadButton {
  font-size: 14px;
  background-color: #5b5ca2;
  box-shadow: 0 0 2px 1px #5b5ca2;
  border-radius: 50px;
  padding: 4px 12px;
  margin-top: 10px;
}

.CloseButton {
  width: 25px;
  height: 25px;
  fill: #f9fafb;
  padding: 5px;

  position: absolute;
  top: 5px;
  right: 5px;
}
