.Tab {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #595ba0;
  margin-right: 15px;
  padding: 0 5px;
  transition: color 0.2s;
}

.Active {
  color: #f9fafb;
}
