.Week {
  display: flex;
  padding: 15px 20px 5px;
  cursor: pointer;

  grid-column: 2 / 4;
  grid-row: 3 / 4;
  overflow: hidden;
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: calc(100% - 20px);
    background-color: #131b2a;
    position: absolute;
    left: 0;
  }

  @media (min-width: 600px) {
    width: 90vw;
    max-width: 800px;
    justify-self: center;
  }
}
