.App {
  min-height: 100vh;
  padding-top: 15px;
  background-color: #1a2133;
  overflow: hidden;

  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: repeat(4, max-content) 20px;
  gap: 10px;

  @media (min-width: 600px) {
    gap: 10px 20px;
    padding-top: 30px;
  }
}

.Header {
  display: grid;
  grid-column-gap: 10px;

  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin-bottom: 5px;

  z-index: 200;

  @media (min-width: 600px) {
    width: 90vw;
    max-width: 800px;
    padding: 0 20px;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
  }
}

.Error {
  height: calc(100vh - 240px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  color: #5b5ca2;

  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
