.Form {
  display: flex;
  width: 100%;
  height: 33px;
  margin-top: 17px;

  position: relative;
  grid-column: 1 / 3;

  @media (min-width: 600px) {
    top: 8px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: end;
  }
}

.ClearButton {
  width: 33px;
  height: 33px;
  padding: 9px;

  position: absolute;
  right: 35px;
}

.SearchButton {
  width: 33px;
  height: 33px;
  padding: 5px;

  position: absolute;
  right: 0;
}

.Icon {
  width: 100%;
  height: 100%;
  fill: #f9fafb;
}

.Error {
  color: #dd0000;
  position: absolute;
  bottom: 110%;
}

.FormInvalid {
  input {
    border: 1px solid #dd0000;
  }

  input:focus {
    border: 1px solid #dd0000;
  }

  .Icon {
    fill: #dd0000;
  }
}
