.Header {
  display: grid;
  grid-column-gap: 10px;

  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin-bottom: 5px;

  @media (min-width: 600px) {
    width: 90vw;
    max-width: 800px;
    padding: 0 20px;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
  }
}
